.popup__input {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-top: 28px;
  font-family: 'Inter', 'Arial', sans-serif;
  position: relative;
}

@media (max-width: 680px) {
  .popup__input {
    padding-top: 75px;
  }
}
