.profile__edit {
  background: url('../../../images/edit-button.svg') center no-repeat;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.profile__edit:hover {
  opacity: .6;
}

@media (max-width: 1023px) {
  .profile__edit {
    width: 18px;
    height: 18px;

  }
}
