.elements__grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
  justify-items: center;
}

@media (max-width: 1279px) {
  .elements__grid {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .elements__grid {
    grid-template-columns: repeat(1, 282px);
  }
}


