.header__logo {
  background-image: url('../../../images//mesto-logo.svg');
  width: 142px;
  min-height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 680px) {
  .header__logo {
    width: 104px;
    min-height: 25px;
  }
}

