.profile__card {
  margin: 0;
  max-width: 546px;
  display: grid;
  grid-template-columns: 294px 1fr;
  gap: 16px;
  flex-grow: 1;
}

@media (max-width: 1023px) {
  .profile__card {
    grid-template-columns: max-content 1fr;
    padding-top: 23px;
    max-width: 282px;
    gap: 14px 10px;
  }

}
